<!DOCTYPE html>
<html>

<head>
    <title>MyStartPage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.min.js"></script>

    <div id="app">
        <div class="container" style="height: 8em; padding: 2em">
            <div class="row" align="center" justify="center">
                <div class="col">
                    <h1 :style="{'color':wsColor}">MyStartPage</h1>
                </div>
            </div>
        </div>
        <div class="container" style="height: 3em;">
            <div class="row" align="center" justify="center">
                <div class="col">
                    <a href="http://192.168.10.1:25005/">
                        <button type="button" class="btn shadow-sm"
                            style="width: 7em; font-weight: 600;">VitDash</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="container" id="main">
            <div class="row" align="center" justify="center">
                <div class="col" v-for="site in websites">
                    <div class="card text-center shadow-sm" @mouseover="showHue(site)" @mouseleave="clearHue(site)"
                        style="width: 125px; height: 150px; margin-top: 10px; margin-bottom: 10px;">
                        <img class="card-img-top" :src="site.icon"
                            :style="{'border-color': `${ site?.text === activeSite?.text  ? wsColor : ''}`}">
                        <div class="card-body">
                            <p class="card-text" style="margin-top: -1rem; font-weight: 600;"
                                :style="{'color': `${ site?.text === activeSite?.text  ? wsColor : ''}`}">
                                {{site.text}}</p>
                            <a :href="site.link" class="stretched-link" rel="noopener noreferrer"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="waves" :style="{'visibility': !hue ? 'hidden' : 'visible'}">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path
                    d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                    opacity=".25" style="animation: morph 5s linear alternate infinite" :style="{'fill': wsColor}">
                </path>
                <path
                    d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                    opacity=".5" style="animation: morph 7s linear alternate infinite" :style="{'fill': wsColor}">
                </path>
                <path
                    d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                    style="animation: morph 10s linear alternate infinite" :style="{'fill': wsColor}"></path>
            </svg>
        </div>
    </div>
    <script>
        const { createApp, ref, reactive } = Vue
        const app = createApp({
            setup() {
                const websites = ref({});
                const activeSite = ref({});
                const hue = ref(false)
                const wsColor = ref('#6c757d')

                function showHue(site) {
                    activeSite.value = site
                    hue.value = true
                    wsColor.value = site.color ? site.color : '#000000'
                }

                function clearHue(site) {
                    activeSite.value = undefined
                    hue.value = false
                    wsColor.value = ''
                }

                fetch(`https://bitbucket.org/7thedevil7/7thedevil7.bitbucket.io/raw/418c05840f986869d661b5ec164a7178bc7c3d10/websites.json`)
                    .then(res => res.json())
                    .then(data => websites.value = data)
                return { websites, hue, wsColor, activeSite, showHue, clearHue }
            }
        })
        app.mount('#app')
    </script>
    <style>
        @media(min-width: 1200px) and (max-width: 1400px) {
            .container {
                max-width: 960px;
            }
        }

        h1 {
            color: #6c757d;
        }

        .btn {
            background-color: #ced4da;
            border-radius: 1rem;
            color: white;
        }

        .card {
            background-color: #ced4da;
            border: 0.01rem solid #ced4da;
            border-radius: 1rem;
        }

        .card img {
            border-radius: 1rem;
            filter: brightness(0) invert(1);
        }

        .card p {
            color: white;
        }

        :is(.card:hover, .btn:hover) {
            background-color: #e9ecef !important;
            border: none;
        }

        :is(.card:hover img) {
            filter: brightness(1);
            border: 0.01rem solid
        }

        .waves {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
            transform: rotate(180deg);
            z-index: -1
        }

        .waves svg {
            position: relative;
            display: block;
            width: calc(100% + 5rem);
            height: 10rem;
            transform: rotateY(180deg);
        }

        @keyframes morph {
            from {
                transform: scaleY(1);
            }

            to {
                transform: scaleY(0.5)
            }
        }
    </style>
</body>

</html>